.idea/
terraform/
/python/dns_list.csv
/python/sample.csv
go/pkg/
mydocker/Mysql/mysqld.*
/go/=
/go/=2.10
/mydocker/Mysql/mysqld*
/myterraform/terraform12
/go/test1
mydocker/Postgres/postgres_data*
myansible/roles/elastic-role/playbook/files/jdk-11.0.10_linux-x64_bin.tar.gz
