# Warning: This file is Ansible Managed, manual changes will be overwritten on next playbook run.
input { stdin { } }
output {
  elasticsearch { hosts => ["localhost:9200"] }
  stdout { codec => rubydebug }
}